<div>
  <table mat-table [dataSource]="listUser" class="mat-elevation-z4">
      <ng-container matColumnDef="Nombres">
        <th mat-header-cell *matHeaderCellDef> Nombres </th>
        <th mat-cell *matCellDef="let element">  {{element.Nombre}} </th>
      </ng-container>

      <ng-container matColumnDef="Apellidos">
        <th mat-header-cell *matHeaderCellDef> Apellidos </th>
        <th mat-cell *matCellDef="let element">  {{element.Apellido}} </th>
      </ng-container>

      <ng-container matColumnDef="Usuario">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <th mat-cell *matCellDef="let element">  {{element.Usuario}} </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns"></tr>
      <tr mat-row *matRowDef="let row; columns: columns"> </tr>

  </table>
</div>
