<div class="card shadow">
  <div class="card-body">
    <h5 class="card-title">Lista de Usuarios</h5>
    <div class="table-responsive">
      <table class="table table-striped table-bordered styled-table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombres</th>
            <th>Email</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of listUser">
            <td>{{element.idUsers}}</td>
            <td>{{element.nombre}}</td>
            <td>{{element.email}}</td>
            <td class="action-buttons">
              <button class="btn btn-primary btn-sm" (click)="EditUser(element)">Editar</button>
              <button class="btn btn-danger  btn-sm text-white" (click)="DeleteUser(element)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<div class="modal" [ngClass]="{ 'show': isPopupOpen }" tabindex="-1" role="dialog" [style.display]="isPopupOpen ? 'block' : 'none'">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Actualizacion de datos</h5>
        <button type="button" class="close" (click)="closePopup()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #registroForm="ngForm" (ngSubmit)="updateUser()">
          <p class="text-medium-emphasis">Actualizar</p>
          <c-input-group class="mb-3">
            <span cInputGroupText>
              <svg cIcon name="cilUser"></svg>
            </span>
            <input [(ngModel)]="idUser" name="id" [hidden]="true" />
            <input [(ngModel)]="username" name="name" autoComplete="name" cFormControl placeholder="Username" required/>
          </c-input-group>
          <c-input-group class="mb-3">
            <span cInputGroupText>@</span>
            <input [(ngModel)]="email" name="email" autoComplete="email" cFormControl placeholder="Email" required/>
          </c-input-group>
        </form>
        <hr>
        <button type="button btn-sm" style="padding: 5px;" class="btn btn-success" (click)="updateUser()">Actualizar</button>
        <button type="button btn-sm" style="padding: 5px;" class="btn btn-danger" (click)="closePopup()">Cerrar</button>
     </div>
    </div>
  </div>
</div>
