<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm>
              <h1>Registro</h1>
              <p class="text-medium-emphasis">Crea una cuenta</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input  [(ngModel)]="username" name="name" autoComplete="name" cFormControl placeholder="Username" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input  [(ngModel)]="email" name="email" autoComplete="email" cFormControl placeholder="Email" />
              </c-input-group>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input  [(ngModel)]="password" name="pass" autoComplete="new-password" cFormControl placeholder="Contrasena" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input  [(ngModel)]="password2" name="pass2" autoComplete="new-password" cFormControl placeholder="Repetir Contrasena" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button cButton (click)="onSubmit()" color="success">Crear Cuenta</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
